
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
}
img{
    object-fit: contain;
    height: 1.5rem;
    margin: 0rem 0.5rem 0rem 0rem;
    min-width: 2rem;
}
.text{
    font-family: 'Poppins';
    pointer-events: none;
    font-weight: 400;
    font-size: 1.1rem;
    color: #007A8A ;
    display: flex;
    height: 2rem;
    align-items: center;
}
.navele-cnt{
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 0.5rem 0.5rem 0.5rem / 0.5rem 0.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    width: max-content;
    outline: none;
    border: none;
    max-width: 100%;
    transition: 0.3s ease;
}

.navele-cnt:hover{
    background-color: #C6EAFF;
    cursor: pointer;
}

