.name{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 2rem;
    color: rgb(41, 41, 41);
}
.email{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    color: rgb(167, 167, 167);
}