*{
    box-sizing: border-box;
}
.lp-grid-cnt{
    /* background-color: tomato; */
    display: grid;
    grid-template-rows: auto 1fr 5vh;
    height: 100vh;
    overflow: hidden;
    padding: 0 1rem;
}

#navbar{
    display: flex;
    flex-flow: column;
    padding: 1rem 0rem;
    width: 100%;
    /* border-top: 2px solid rgb(223, 223, 223); */
    /* background-color: rgb(247, 247, 247); */
    /* border-radius: 2rem 2rem 2rem /2rem 2rem; */
    margin: 0.5rem 0rem;
}

/* @media  screen and (max-width: 1300px) {
    #navbar{
        align-items: center;
    } 
} */