.sender{
    background-color: #b8eef1;
    float: right;
    border-bottom-right-radius: 0rem !important;
}
.reciever{
    background-color: #ffffff;
    float: left;
    border-bottom-left-radius: 0rem !important;
    /* border: 2px solid #b8eef1; */
}
.msgbox{
    clear: both;
    display: block;
    font-family: 'Poppins';
    font-weight: 400;
    max-width: 70%;
    padding: 0.5rem 1rem;
    border-radius: 3rem 3rem 3rem/3rem 3rem;
    margin: 0.5rem 1rem;
}