@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sb-cnt{
    display: grid;
    width: 80%;
    border: 2px solid #acacac;
    grid-template-columns: 1fr auto;
    border-radius: 0.5rem 0.5rem 0.5rem /0.5rem 0.5rem;
    /* padding: 0.5rem 1rem; */
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    /* min-width: fit-content; */
    
}
.sb-btn-cnt {
    margin: 0.5rem 0.1rem;
    background-color: transparent;
    border: none;
    padding-left: 1rem;
}

#inp{
    width: 100%;
   outline: none;
   border: none;
   font-family: 'Poppins';
   font-weight: 400;
   margin: auto 1rem;
}



