.tb-cnt{
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 1rem 0rem;
}
#msginp{
    outline: none;
    border-radius: 0.5rem 0.5rem 0.5rem/0.5rem 0.5rem;
    border: 2px solid rgb(221, 221, 221);
    padding: 0.1rem 1rem;
    /* font-family: 'Poppins'; */
    /* font-weight: 400; */
    transition: 0.5s ease;
}
#msginp:focus{
    border: 2px solid #B7F7FF;
    box-shadow: 0 0 10px #B7F7FF;
}
#sendbtn{
    /* display: flex; */
    border: transparent;
    background-color: #B7F7FF ;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 1rem;
    border-radius: 5rem 5rem 5rem /5rem 5rem;
}
#sendbtn img{
    /* display: flex; */
    margin: auto;
}