.userlogin-inp-cnt{
    display: block;
}
.big-userlogin-cnt{
    height: 100vh;
    display: flex;
}
.userlogin-cnt{
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto auto;
    flex-direction: column;
}
.btn-register{
    width: fit-content;
    margin: 0rem auto;
    background-color: white;
    color: #0d6efd;
}